.final{
    height: 100%;
    width: 100%;
    background-color: $colores1;
}
.ley{
    padding: 20px;
    text-align: center;
    text-transform: lowercase;
    color: $colores3;
    font-size: 20px;  
}
.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}
.redes1{
    background-color: black;
    color: $colores3;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
}
.maps{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 25%;
    margin-right: 25%;
}
.dir{
    margin-top: 10%;
    text-align: center;
    text-transform: uppercase;
    color: $colores3;   
}
.fiscal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}